.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-upper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  align-items: center;
  padding: 100px 0;
  background: url(/athlify-background.png);
}

.home-upper h1 {
  font-size: 45px;
  color: white;
}

.home-middle {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 150px;
  margin-top: 250px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .home-middle {
    padding: 0px 10px;
    flex-direction: column;
  }

  .home-upper {
    background-repeat: no-repeat;
  }

  .home-middle {
    margin-top: 50px;
  }
}
