.search-wrapper {
  display: flex;
  gap: 40px;
  background: white;
  padding: 25px 40px;
  border-radius: 30px;
  align-items: center;
}

.search-block {
  width: 300px;
}

.btn-search {
  background: var(--header-bg-color);
  color: white;
  border: none;
  border-radius: 100px;
  padding: 25px;
}

.search-category-label {
  color: black;
}

.search-block {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  padding-right: 15px;
}

@media only screen and (max-width: 600px) {
  .search-wrapper {
    flex-direction: column;
    padding: 25px 25px;
    align-items: stretch;
    gap: 30px;
  }

  .home-upper {
    padding: 150px 15px;
  }

  .search-block {
    border: none;
  }
}
